body {
    background-color: #7B9B7B;
    font-family: sans-serif; 
}

.menu {
    background-color: #C9C936;
    border-radius: 0.5em;
    transition: 100ms ease-out;
    border: solid black 1px;
    max-width: 30em;
    line-height: 1.5;
}

.menu .title {
    cursor: pointer;
    transition: inherit;
    background-color: #cc0;
    color: #c00;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    font-weight: bold;
    border: solid #aa0 2px;
    border-radius: inherit;
    box-shadow: 1px 1px 1px 0.25px #4f6c5e;
    width: 99%;
    opacity: 1;
}

.menu .title:hover {
    background-color: #ff0;
    color: #f00;
    border-color: #ff8; 
    box-shadow: 1px 1px 1px 0.5px #4f635e;
}

.menu .status {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #080;
    font-size: 1.5em;
}

.menu ul {
    margin-top: 0;
    color: #008;
}

.menu ul li {
    list-style-type: "◦ ";
    border-bottom: solid #aa3 1px;
    width: 50%;
}
